<div class="title">
  <h1><%= @post.title %></h1>
  <h2><%= @post.user.name %></h2>
</div>

<div class="body">
  <p><%= @post.body %></p>

</div>

<% if @post.user == current_user %>
  <div>
    <%= link_to "Remove post", @post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" }  %>
  </div>
  <div>
    <%= link_to "Update post", edit_post_path(@post) %>
  </div>
<% end %>
