<div class="title">
  <h1><%= @post.title %></h1>
  <% if user_signed_in? %>
    <p>Author: <%= @post.user.name %></p>
  <% else %>
    <p>Author: anonymous</p>
  <% end %>
</div>

<div class="body">
  <p><%= @post.body %></p>
</div>

<div>
  <%= link_to "Remove post", @post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" }  %>
</div>
<div>
  <%= link_to "Update post", edit_post_path(@post) %>
</div>