<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <div class="navbar">
      <ul>
        <li>
          <%= link_to "[home_page]", root_path %>
        </li>

        <% if current_user %>
          <li>
            <%= current_user.name %>
          </li>
          <li>
            <%= link_to "[log_out]", session_path(current_user.id), method: :delete, data: { confirmation: "Dab" } %>
          </li>
        <% else %>
          <li>
            <%= link_to "[log_in]", new_session_path %>
          </li>
          <li>
            <%= link_to "[sign_up]", new_user_path %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
