<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <div class="navbar">
      <ul>
        <li>
          <%= link_to "[home_page]", root_path %>
        </li>
        <li>
          <%= link_to "[sign_up]", new_user_path %>
        </li> <%# this shouldn't show up when user is logged in %>
        <li>
          <%= link_to "[log_in]", root_path %>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
